main {
 
  text-align: center;
  vertical-align: center;
  /*line-height: 100vh*/
}

.container-principal {
	display: box;
	box-align: stretch;
	box-orient: vertical;
}
.container-logo{
	
	background: #5E2075;
	height:120px;
	padding: 6px;
	margin: -8px;
	padding: 15px;
}

.container-logo span {
	align-item: center;
	color: #FFFFFF;
	font-family: Archivo;
	font-size: 64px;
	font-weight: 400px;
	vertical-align: top;
	
}

.logo{
	position: relative;
	width: 116px;
	height:116px;
}

.container-principal-form{
	display: box;
	height:700px;
	background:#FFFFFF;
	color: #000000;
}
.form-cria-login, form-dadas-pessoais{
	
}
.container-cria-login{
	
	margin:-8px;
	height:50%;
	
}

.campo-emal{
	width: 400px;
}

.container-cria-login, .container-dados-pessoais {
	weight:500px;
	font-size:25px;
}
.container-dados-pessoais{
	
	background:#FFFFFF;
	margin:-8px;
	padding: 3px;
}

form input {
	background: #D9D9D9;
	height: 71px;
	border-radius:10px;
	margin: 4px;

	font-family: archivo;
	font-size: 27px;
}

#btn-proximo .botao {
	position: right;
	width:250px;
	height: 61px;
	background: #FF6A0E;
	border-radius: 10px;
	text-align: center;
	
}
